<footer class="footer">
      <div class="footer-container">
        <div class="container-1">
        <div class="footer-title">
          <h3>{{ title }}</h3>
        </div>
        <!-- footer nav -->
        <nav class="footer-nav">
          <ul class="footer-links">
            <li>
              <a href="#home">Home</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#events">Events</a>
            </li>
          </ul>
        </nav>
        <!-- end of footer nav -->
        <!-- footer social media -->
        <section class="social-media">
          <div class="socials-container">
            <div class="insta">
              <a href="https://www.instagram.com/ncu.alliance/"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="email">
              <p>aslalliance@mail.northcentral.edu</p>
            </div>
          </div>
        </section>
        <!-- end of footer social media -->
        </div>
        <!-- footer copyright -->
        <section class="copyright-section">
          <h5 class="copyright">
            &copy;
            Copyright
            <span id="date"></span>
            <span class="club">{{ title }}</span>
            all rights reserved
          </h5>
        </section>
        <!-- end of footer copyright -->
      </div>
    </footer>